<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}
    
    
  <meta property="og:image:type" content="image/jpeg" /> 
  <meta property="og:image:width" content="650" /> 
  <meta property="og:image:height" content="366" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="copyright" content="detiknews" itemprop="dateline" />
  <meta name="robots" content="index, follow" />
  <meta property="article:author" content="https://www.facebook.com/primaapriansyah" itemprop="author" />
  <meta property="article:publisher" content="https://www.facebook.com/primaapriansyah" />
  
  <meta property="og:site_name" content="detiknews" />
  <meta property="og:title" content="Gelar Operasi Gabungan, TNI dan Polri Razia Pebalap Liar dan Amankan Miras" />
  <meta property="og:image" content="http://images.detik.com/community/media/visual/2015/11/08/6d175fbe-751f-49ae-996f-9468f0d45d7f_43.jpg?w=650" />
  <meta property="og:description" content="Dini hari ini, Polri dan TNI melakukan operasi gabungan skala besar di Jakarta dan sekitarnya. Operasi itu menyasar beberapa titik yang dipilih secara" />
  <meta property="og:url" content="http://news.detik.com/berita/3064957/gelar-operasi-gabungan-tni-dan-polri-razia-pebalap-liar-dan-amankan-miras" />

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
